body {
    text-align: center;
    background: rgb(122, 159, 202);
}
#container {
    border: 2px solid black;
    border-radius: 50px;
    background: rgb(223, 220, 220);
    height: 45em;
    width: 35em;
    display: inline-block;
    margin: 100px 0 40px 0;
    box-shadow: 50px 10px 10px rgba(56, 56, 56, 0.548);
}
#screen {
    background: white;
    border: 2px solid black;
    border-radius: 10px;
    height: 80px;
    margin: 40px;
    overflow: hidden;
}
#numbers {
    line-height: 10px;
    text-align: right;
    font-weight: bold;
    font-size: 50px;
    padding: 0 20px;
}
.button {
    border: 1px solid black;
    border-radius: 50%;
    background: white;
    outline: none;
    height: 90px;
    width: 100px;
    margin: 15px 2px 2px;
    font-weight: bold;
    font-size: 25px;
    line-height: 50px;
    box-shadow: 10px 10px 8px #888888;
    transition: all ease .03s;
}
.button:active {
    box-shadow: 0 3px 0 #888888;
    top: -3px;
}
#ac {
    width: 210px;
}
#operator {
    background: #facf23;
}